        <div class="button-group">
                        <a href="/send" class="btn-send btn btn-lg btn-outline">
                            Send
                        </a>
                        <a href="/recieve" class="btn-recieve btn btn-lg btn-outline">
                            Recieve
                        </a>
                    </div>