body {
	background-color: #18BC9C;
	color: white;
}
.about{
	text-align: center;
}
.three-images {
	width: 5vw;
}
.send {
	padding: 25vh 10vh;
	text-align: center;
}
.send h1 {
	margin-bottom: 10vh;
}

.remit-shop-logo {
	max-width: 10vw;
	display: inline;
}

.remit-shop-header {
	max-width: 5vw;
	display: inline;
	float: left;
    padding: 10px;
}

.remit-shop-world {
	margin-top: 10px;
    padding: 6px;
	max-width: 10vw;
	display: inline;
}

.button-group a {
	margin: 15px 20px;
}

