
<%- include partials/head.ejs %>

<%- include partials/navbar.ejs %>
<div>
    <h1 class="title">Login</h1>

    <div class="box box2">

        <input type="number" hint="NIGGA"/>
        <input type="number" hint="NIGGA2"/>


    </div>
</div>

