<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My node app!</title>
    <script src="https://sdk.yoti.com/clients/browser.js"></script>
  </head>

 <body>
    <h1>Use Yoti</h1>
    <span data-yoti-application-id="5669d9ea-09a0-4643-8cba-b1b3704fa6e1"
          data-yoti-type="pop-up"
          data-yoti-scenario-id="4cd54bbc-dd6c-458e-9534-f18f54201ac7"
          data-size="small">
    </span>

   <script>
        _ybg.init()
    </script>

 </body>
</html>