<%- include partials/head.ejs %>

<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<script>
$(document).ready(function() {

    $.ajax({
        dataType: 'jsonp',
        url: 'http://kkmonlee.com/africa/get_all_lists.php',
    }).done(function(data) {
        console.log(data);
    })  

});
</script>
<div>
    <h1 class="payment">Payment Details</h1>

    <div class="flexContainer paymentSystem">
    	<textarea>Name on card</textarea>
    	<input type="text" hint="Full Name"/>
	    <textarea>Card Number</textarea>
	    <input type="text" hint="Card no."/>
	    <textarea >CSC Code</textarea>
	    <input type="number" hint="CSC"/>
	    <button>Pay</button>
    </div>

</div>

