<%- include partials/head.ejs %>

<%- include partials/navbar.ejs %>
<div class="view text-dark">
    <h1> Payment Complete </h1>

    <div class="jumbotron">
        <p class="lead">Payment Success</p>
        <img style="max-width:70px;" src="/img/cool.svg">
        <hr class="my-4">         
    </div>
    
</div>