
<%- include partials/head.ejs %>

<%- include partials/navbar.ejs %>
<div class="send">

    <div class="row">
        <h1> Send goods, not money home. </h1>
        <div class="col-md-4">
            <p> Browse your families and friends choosen wishlist. Pay for your choosen items using our secure system </p>
        </div>
        <div class="col-md-4">
            <p>Your family or friends are notificed instantly via SMS text, and can pick up the same day from a local retailer.</p>
        </div>
        <div class="col-md-4">
            <p>Your family enjoys all the benfits of remitances, without any of the time consuming clearance checks.</p>
        </div>
    </div>
</div>