
<%- include partials/head.ejs %>

<%- include partials/navbar.ejs %>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<div>
    <h1 class="view">View</h1>
        <p>Add your recipients order number</p> 
        <input type="number" id="addNumber" name="addNumber" style="color:black"/>
        <input type="submit" id="submit">
        <!--<% entries = wishlist.map(function(elem) {
        return '<span>' + elem.food + '</span>';
        }) %>
        <p><%- entries.join(" ") %></p>-->
    
</div>
<script>  
document.getElementById('submit').addEventListener('click', function(){
    var param = document.getElementById("addNumber").value
    $.ajax({
        url: '/getuserwishlist/number/'+ param
    })
})
</script>

